/*
BASE ELEMENTS
*/
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  color: white;
}

@media only screen and (min-width: 768px) {
  body {
    padding-bottom: 350px;
  }
}

fieldset {
  background-color: white;
  opacity: .98;
  border: 100%;
  text-align: center;
  width: 75%;
  border-radius: 2px;
  margin: auto;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 18px;
  margin-bottom: 50px;
  margin-top: -15px;
}

header {
  height: 100px;
  margin-bottom: 0;
  margin-top: -10px;
  padding-bottom: -100px;
}

html {
  background-color: #1E90FF;
  font-family: Berkshire Swash, cursive;
  font-size: 18px;
  text-align: center;
}

main {

}


/*
LAYOUTS
*/
.y-wrap {
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  .y-wrap{
    width:80%;
  }
}

@media only screen and (min-width: 1100px) {
  .y-wrap{
    width: 1000px;
  }
}


/*
MODULES
*/
.banner {
  margin: 30px 0 50px;
}

btn {
  background-color: #C24E00;
  border: 1px solid transparent;
  border-radius: 10px;
  color: white; /* override browser specifity */
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  padding: 10px;
  transition: all .4s ease-in-out 0s;
  width: 75%;
}

.btn-begin {
  background-color: #C24E00;
}

.btn-modify {
  width: 90%;
}

.btn:hover,
.answer-div:hover {
  background-color: #1ba39c;
}
.header.hide {
  display: none;
}


.intro-div {
  margin: 0 auto;
  width: 90%;
}

.intro-image {
  width: 75%;
  margin-bottom: 20px;
  border-radius: 10px;
}

.intro-text {
  margin-bottom: 15px;
}

.page {
  margin-top: 50px;
}

/* make DRY */
.answer,
.quiz-feedback {
  width: 75%;
  padding: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  transition: all .4s ease-in-out 0s;
}




.feedback, 
.final-page {
  margin: 25px;
  padding: 25px;
  border-radius: 3px;
  background-color:#4183D7;
  opacity: .98;
  font-weight: bold;
}

.feedback-image, 
.final-image {
  border-radius: 3px;
  margin-bottom: 20px;
  width: 90%;
}


 .quote {
  color: white;
  font-size: 17px;
  margin: 5px auto;
  padding: 10px;
  width: 90%;
}

.quote:before, .quote:after {
  content: '"';
}



.counter, .points-counter {
  font-weight: bold;
  font-size: 20px;
  display: inline-block,center;
  margin-bottom: 5px;
  margin-top: 5px;
}




.next-question-btn {
  width: 75%;
  padding: 3px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 10px;

}





.selected-option.answer-div {
  font-weight: bold;
  font-size: 17px;
  background-color: #C24E00;
}

.selected-option.answer-div:hover {
  font-weight: bold;
  font-size: 17px;
  background-color: #C24E00;
}



.answer-div {
  margin: auto;
  background-color: #024959;
  width: 90%;
  border-radius: 10px;
  color: #FFFFFF;

}

.quote-section {
  background-color: #3455db;
  color: white;
  opacity: .95;
  border-radius: 3px;
  margin: auto;
  height: auto;
}

.correct-answer {
  font-weight: bold;
}

.correct-answer-text, .incorrect-answer-text {
  font-size: 15px;
  font-weight: normal;
}

.hide-section {
  display: none;
}

.selected-option.answer-div {
  font-size: 20px;
}

.selected-option.answer-div:hover {
  font-weight: bold;
  font-size: 20px;
  background-color: #035E73;
}

.quote {
  font-size: 25px;
}

section {
  max-width: 1000px;
  margin: 0 auto;
  left: 50%;
  padding-left: 1.04166666%;
  padding-right: 1.04166666%;

}

.feedback, .final-page {

  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

.feedback-page-correct {
  margin-bottom: 10%;
}


/*Clearfix*/
section:before, .feedback:before,
section:after, .feedback:after {
  display: block;
  content: '';
  clear: both;
}


.adjust{
  margin-top: -70px;
}

img {
  border: none;
  width:100%;
  box-sizing: border-box;
}



}
.nimg {
  display: inline-block;
  height: 267px;
  overflow: hidden;
  width: 100%;
  margin-bottom: -8px;
}

.quote-question-section {
  height: 156px;
  overflow: hidden;
  /*width: 460px;*/
}

.column {
  float: left;
  height: 100%;
  position: relative;
}

.wide {
  width: 66%;
}

.narrow {
  border-left: 1px solid rgba(255,255,255, 0.3);
  width: 34%;
}

.vcenter {
  left: 50%;
  top: 50%;
  position: absolute;
  transform:translate(-50%,-50%);
  width: 90%;
}
